<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png">
        <title>404 Page not Found!</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{paragraph}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>